@font-face
{
  font-family: "Dancing Script OT";
  src: url(../fuentes/DancingScript-Regular.otf);
}

body
{
  font-family: "Dancing Script OT";
  background-color: #02010a;
}

#contenido
{
  max-width: 900px;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
}

#cabecera
{
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  animation: animacionHeader 2s;
}

#cabecera div
{
  width: 50%;
}

#cabecera h1
{
  color: white;
  text-shadow: 2px 2px #02010a;
  text-align: center;
}

#menu
{
  text-align: center;
  color: white;
}

#menu a
{
  color: inherit;
}

#actual
{
  text-decoration: none;
}

#contenidoPrincipal
{
  display: flex;
  flex-flow: row wrap;
}

.secundario
{
  width: 50%;
  background-color: #d5c75f;
}

.secundario a
{
  color: black;
}

#central
{
  background-color: #82c3a6;
  width: 100%;
}

#contenidoPrincipal figure
{
  width: 90%;
  margin: 5%;
}

#contenidoPrincipal img
{
  box-shadow: 2px 2px #02010a;
  width: 100%;
}

figcaption
{
  width: 100%;
  text-align: center;
}

#imagen1, #imagen2
{
  transition: transform, box-shadow 1s;
}

#imagen1:hover
{
  transform: rotate(10deg);
  box-shadow: 2px 2px #82c3a6;
}

#imagen2:hover
{
  transform: translate(20px, -5px);
  box-shadow: 2px 2px #82c3a6;
}

#piePagina
{
  background-color: #C6d5c5;
  border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

#piePagina div
{
  text-align: center;
  width: 25%;
}

#piePagina div a
{
  text-decoration: none;
  color: black;
}

#redesSociales img
{
  width: 1em;
  vertical-align:bottom
}

@media (max-width: 900px)
{
  #contenido
  {
    width: 100%;
  }
  
  #cabecera div
  {
    width: 100%;
  }
  
  .secundario
  {
    width: 100%;
  }
  
  #piePagina div
  {
    width: 100%;
  }
}

@media (min-width: 901px)
{
  #cabecera div
  {
    width: 50%;
  }
  
  .secundario
  {
    width: 50%;
  }
  
  #piePagina div
  {
    width: 25%;
  }
}

@-webkit-keyframes animacionHeader
{
  0%
  {
    margin-top: 150%;
  }
  60%
  {
    margin-top: -5%;
  }
  100%
  {
    margin-top: 0%;
  }
}