body
{
  background-image: url(../images/background.jpg);
  background-attachment: fixed;
  background-size: cover;
}
.mylogo
{
  height: 100%;
}
.nav-wrapper .brand-logo
{
  height: 100%;
}
.redes-sociales
{
  height: 40px;
  width: 40px;
  border-radius: 10px;
}
.galeria
{
  width: 90%;
  margin: 10px 5%;
}
nav .fijo
{
  height: 170px;
}
.perfil, .entrada
{
  background-color: white;
  padding: 20px;
}
.perfil
{
  margin: 10px 7.5%;
  width: 85%;
}
.entrada, .myForm
{
  margin: 10px 5%;
  width: 90%;
}
.perfil img
{
  width: 50%;
  margin: 5px 25%;
}
.myForm
{
  padding: 10px;
}
.row nav .mynavbar
{
  height:170px;
  margin-bottom: 15px;
}
.barra
{
  z-index: -100;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}